src/main/resources/wsdl/SICABE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DadosAcademicos"
	targetNamespace="http://schemas.dges.pt/services/sicabe/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.dges.pt/services/sicabe/v1"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://schemas.dges.pt/services/sicabe/v1">
			
			<xsd:import namespace="http://schemas.datacontract.org/2004/07/SICABE.Contracts.Message" schemaLocation="message.xsd" />
			<xsd:import namespace="http://schemas.dges.pt/data/sicabe/v1" schemaLocation="data.xsd" />
			
			<xsd:element name="RegistarMatriculaAluno">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true" type="q1:RegistarMatriculaAlunoRequest"
							xmlns:q1="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RegistarMatriculaAlunoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="RegistarMatriculaAlunoResult" nillable="true"
							type="q2:RegistarMatriculaAlunoResponse"
							xmlns:q2="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlterarCursoInsituicao">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true" type="q3:AlterarCursoInsituicaoRequest"
							xmlns:q3="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlterarCursoInsituicaoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="AlterarCursoInsituicaoResult" nillable="true"
							type="q4:AlterarCursoInsituicaoResponse"
							xmlns:q4="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlterarDadosAcademicosRestantesCasos">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true"
							type="q5:AlterarDadosAcademicosRestantesCasosRequest"
							xmlns:q5="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="AlterarDadosAcademicosRestantesCasosResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="AlterarDadosAcademicosRestantesCasosResult" nillable="true"
							type="q6:AlterarDadosAcademicosRestantesCasosResponse"
							xmlns:q6="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="AlterarDadosAcademicosContratualizacao">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true"
							type="q7:AlterarDadosAcademicosContratualizacaoRequest"
							xmlns:q7="http://schemas.datacontract.org/2004/07/SICABE.Contracts.Message" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="AlterarDadosAcademicosContratualizacaoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="AlterarDadosAcademicosContratualizacaoResult"
							nillable="true"
							type="q8:AlterarDadosAcademicosRestantesCasosResponse"
							xmlns:q8="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AlterarDadosAcademicosPrimeiraVez">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true"
							type="q9:AlterarDadosAcademicosPrimeiraVezRequest"
							xmlns:q9="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="AlterarDadosAcademicosPrimeiraVezResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="AlterarDadosAcademicosPrimeiraVezResult" nillable="true"
							type="q10:AlterarDadosAcademicosPrimeiraVezResponse"
							xmlns:q10="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ObterEstadoCandidatura">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true" type="q11:ObterEstadoCandidaturaRequest"
							xmlns:q11="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ObterEstadoCandidaturaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="ObterEstadoCandidaturaResult" nillable="true"
							type="q12:ObterEstadoCandidaturaResponse"
							xmlns:q12="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ObterCandidaturasSubmetidas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="request"
							nillable="true" type="q13:ObterCandidaturasSubmetidasRequest"
							xmlns:q13="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ObterCandidaturasSubmetidasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0"
							name="ObterCandidaturasSubmetidasResult" nillable="true"
							type="q14:ObterCandidaturasSubmetidasResponse"
							xmlns:q14="http://schemas.dges.pt/data/sicabe/v1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>


		
	</wsdl:types>
	<wsdl:message
		name="DadosAcademicos_RegistarMatriculaAluno_InputMessage">
		<wsdl:part name="parameters"
			element="tns:RegistarMatriculaAluno" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_RegistarMatriculaAluno_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:RegistarMatriculaAlunoResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_RegistarMatriculaAluno_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q18:SicabeErrorMessage"
			xmlns:q18="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_RegistarMatriculaAluno_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q19:SicabeValidationMessage"
			xmlns:q19="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_RegistarMatriculaAluno_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q20:SicabeBusinessMessage"
			xmlns:q20="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarCursoInsituicao_InputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarCursoInsituicao" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarCursoInsituicao_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarCursoInsituicaoResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarCursoInsituicao_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q21:SicabeValidationMessage"
			xmlns:q21="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarCursoInsituicao_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q22:SicabeBusinessMessage"
			xmlns:q22="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarCursoInsituicao_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q23:SicabeErrorMessage"
			xmlns:q23="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosRestantesCasos_InputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosRestantesCasos" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosRestantesCasos_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosRestantesCasosResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q24:SicabeValidationMessage"
			xmlns:q24="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q25:SicabeBusinessMessage"
			xmlns:q25="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q26:SicabeErrorMessage"
			xmlns:q26="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosContratualizacao_InputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosContratualizacao" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosContratualizacao_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosContratualizacaoResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q27:SicabeBusinessMessage"
			xmlns:q27="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q28:SicabeErrorMessage"
			xmlns:q28="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q29:SicabeValidationMessage"
			xmlns:q29="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_InputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosPrimeiraVez" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:AlterarDadosAcademicosPrimeiraVezResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q30:SicabeValidationMessage"
			xmlns:q30="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q31:SicabeBusinessMessage"
			xmlns:q31="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q32:SicabeErrorMessage"
			xmlns:q32="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterEstadoCandidatura_InputMessage">
		<wsdl:part name="parameters"
			element="tns:ObterEstadoCandidatura" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterEstadoCandidatura_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:ObterEstadoCandidaturaResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterEstadoCandidatura_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q33:SicabeErrorMessage"
			xmlns:q33="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterEstadoCandidatura_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q34:SicabeBusinessMessage"
			xmlns:q34="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterEstadoCandidatura_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q35:SicabeValidationMessage"
			xmlns:q35="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterCandidaturasSubmetidas_InputMessage">
		<wsdl:part name="parameters"
			element="tns:ObterCandidaturasSubmetidas" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterCandidaturasSubmetidas_OutputMessage">
		<wsdl:part name="parameters"
			element="tns:ObterCandidaturasSubmetidasResponse" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterCandidaturasSubmetidas_SicabeValidationMessageFault_FaultMessage">
		<wsdl:part name="detail"
			element="q36:SicabeValidationMessage"
			xmlns:q36="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterCandidaturasSubmetidas_SicabeErrorMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q37:SicabeErrorMessage"
			xmlns:q37="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:message
		name="DadosAcademicos_ObterCandidaturasSubmetidas_SicabeBusinessMessageFault_FaultMessage">
		<wsdl:part name="detail" element="q38:SicabeBusinessMessage"
			xmlns:q38="http://schemas.dges.pt/data/sicabe/v1" />
	</wsdl:message>
	<wsdl:portType name="DadosAcademicos">
		<wsdl:operation name="RegistarMatriculaAluno">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAluno"
				message="tns:DadosAcademicos_RegistarMatriculaAluno_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAlunoResponse"
				message="tns:DadosAcademicos_RegistarMatriculaAluno_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAlunoSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_RegistarMatriculaAluno_SicabeErrorMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAlunoSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_RegistarMatriculaAluno_SicabeValidationMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAlunoSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_RegistarMatriculaAluno_SicabeBusinessMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="AlterarCursoInsituicao">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicao"
				message="tns:DadosAcademicos_AlterarCursoInsituicao_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicaoResponse"
				message="tns:DadosAcademicos_AlterarCursoInsituicao_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicaoSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_AlterarCursoInsituicao_SicabeValidationMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicaoSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_AlterarCursoInsituicao_SicabeBusinessMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicaoSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_AlterarCursoInsituicao_SicabeErrorMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosRestantesCasos">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasos"
				message="tns:DadosAcademicos_AlterarDadosAcademicosRestantesCasos_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasosResponse"
				message="tns:DadosAcademicos_AlterarDadosAcademicosRestantesCasos_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasosSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeValidationMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasosSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeBusinessMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasosSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosRestantesCasos_SicabeErrorMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosContratualizacao">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacao"
				message="tns:DadosAcademicos_AlterarDadosAcademicosContratualizacao_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacaoResponse"
				message="tns:DadosAcademicos_AlterarDadosAcademicosContratualizacao_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacaoSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeBusinessMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacaoSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeErrorMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacaoSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosContratualizacao_SicabeValidationMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosPrimeiraVez">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVez"
				message="tns:DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVezResponse"
				message="tns:DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVezSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeValidationMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVezSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeBusinessMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVezSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_AlterarDadosAcademicosPrimeiraVez_SicabeErrorMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ObterEstadoCandidatura">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidatura"
				message="tns:DadosAcademicos_ObterEstadoCandidatura_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidaturaResponse"
				message="tns:DadosAcademicos_ObterEstadoCandidatura_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidaturaSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_ObterEstadoCandidatura_SicabeErrorMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidaturaSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_ObterEstadoCandidatura_SicabeBusinessMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidaturaSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_ObterEstadoCandidatura_SicabeValidationMessageFault_FaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="ObterCandidaturasSubmetidas">
			<wsdl:input
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidas"
				message="tns:DadosAcademicos_ObterCandidaturasSubmetidas_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidasResponse"
				message="tns:DadosAcademicos_ObterCandidaturasSubmetidas_OutputMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidasSicabeValidationMessageFault"
				name="SicabeValidationMessageFault"
				message="tns:DadosAcademicos_ObterCandidaturasSubmetidas_SicabeValidationMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidasSicabeErrorMessageFault"
				name="SicabeErrorMessageFault"
				message="tns:DadosAcademicos_ObterCandidaturasSubmetidas_SicabeErrorMessageFault_FaultMessage" />
			<wsdl:fault
				wsaw:Action="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidasSicabeBusinessMessageFault"
				name="SicabeBusinessMessageFault"
				message="tns:DadosAcademicos_ObterCandidaturasSubmetidas_SicabeBusinessMessageFault_FaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomBinding_DadosAcademicos"
		type="tns:DadosAcademicos">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RegistarMatriculaAluno">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/RegistarMatriculaAluno"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AlterarCursoInsituicao">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarCursoInsituicao"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosRestantesCasos">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosRestantesCasos"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosContratualizacao">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosContratualizacao"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation
			name="AlterarDadosAcademicosPrimeiraVez">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/AlterarDadosAcademicosPrimeiraVez"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ObterEstadoCandidatura">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterEstadoCandidatura"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ObterCandidaturasSubmetidas">
			<soap:operation
				soapAction="http://schemas.dges.pt/services/sicabe/v1/DadosAcademicos/ObterCandidaturasSubmetidas"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SicabeValidationMessageFault">
				<soap:fault name="SicabeValidationMessageFault"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeErrorMessageFault">
				<soap:fault name="SicabeErrorMessageFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SicabeBusinessMessageFault">
				<soap:fault name="SicabeBusinessMessageFault"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DadosAcademicos">
		<wsdl:port name="CustomBinding_DadosAcademicos"
			binding="tns:CustomBinding_DadosAcademicos">
			<soap:address
				location="http://www.dges.gov.pt/SICABE12/instituicaoEnsino/DadosAcademicos.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>